<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyo.shop.mapper.ShopMapper">

    <select id="goodsCount" parameterType="hyo.shop.domain.Goods" resultType="int">
        SELECT
            COUNT(*)
        FROM
            goods_info
    </select>

    <select id="goodsList" parameterType="hashmap" resultType="hyo.shop.domain.Goods">
        SELECT
             goods_no
            ,goods_title
            ,goods_desc
            ,goods_price
            ,goods_stock
            ,frequency_yn
            ,insert_user_id
            ,insert_date
        FROM
            goods_info
        LIMIT #{searchVo.pagination.limitStart}, #{searchVo.recordSize}
    </select>

    <select id="getCartGoodsList" parameterType="list" resultType="hyo.shop.domain.Goods">
        SELECT
             goods_no
            ,goods_title
            ,goods_desc
            ,goods_price
            ,goods_stock
            ,frequency_yn
            ,insert_user_id
            ,insert_date
        FROM
            goods_info
        WHERE
            goods_no IN
        (
        <foreach collection="list" item="goods" separator=",">
            #{goods.goods_no}
        </foreach>
        )
    </select>

    <select id="getGoods" parameterType="Long" resultType="hyo.shop.domain.Goods">
        SELECT
             goods_no
            ,goods_title
            ,goods_desc
            ,goods_price
            ,goods_stock
            ,frequency_yn
            ,insert_user_id
            ,insert_date
        FROM
            goods_info
        WHERE
            goods_no = #{goodsNo}
    </select>

    <update id="update" parameterType="hyo.shop.domain.Goods">
        UPDATE
            goods_info
        SET
             goods_title = #{goods_title}
            ,goods_desc = #{goods_desc}
            ,goods_price = #{goods_price}
            ,goods_stock = #{goods_stock}
            <choose>
                <when test="frequency_yn == 'Y'.toString()">
                    ,frequency_yn = #{frequency_yn}
                </when>
                <otherwise>
                    ,frequency_yn = 'N'
                </otherwise>
            </choose>
        WHERE
            goods_no = #{goods_no}
    </update>

    <insert id="insert" parameterType="hyo.shop.domain.Goods" useGeneratedKeys="true" keyProperty="goods_no">
        INSERT INTO goods_info(
             goods_title
            ,goods_desc
            ,goods_price
            ,goods_stock
            ,frequency_yn
            ,insert_user_id
        )
        VALUES(
             #{goods_title}
            ,#{goods_desc}
            ,#{goods_price}
            ,#{goods_stock}
            <choose>
                <when test="frequency_yn == 'Y'.toString()">
                    ,#{frequency_yn}
                </when>
                <otherwise>
                    ,'N'
                </otherwise>
            </choose>
            ,#{insert_user_id}
        )
    </insert>

</mapper>