<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- CDN -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- Local -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<script th:inline="javascript">
    $(document).ready(function () {

        function loginCheck() {
            let userId = $("#user_id").val();
            let userPw = $("#user_pw").val();

            let params = {
                'user_id' : userId,
                'user_pw' : userPw
            }

            $.ajax({
                type : "POST",
                url : "/loginCheck",
                dataType:"text",
                contentType : 'application/json; charset=utf-8',
                data : JSON.stringify(params),
                success : function(data){
                      console.log(data);
                      if(data == '성공') {
                        $("form").submit();
                        //login(params);
                      } else {
                        $("#errorMsg").html(data);
                      }
                }
            });
        }

        function login(params) {
            $.ajax({
                type : "POST",
                url : "/login",
                dataType:"text",
                contentType : 'application/json; charset=utf-8',
                data : JSON.stringify(params),
                success : function(data){
                }
            });
        }

        $("#submit").on("click", function() {
            loginCheck();
        })

        $("#user_id").on("keyup",function(key){
            if(key.keyCode==13) {
                if(!$("#user_pw").val()) {
                    $("#user_pw").focus();
                } else if(!$("#user_id").val()){
                    $("#user_id").focus();
                } else {
                    loginCheck();
                }
            }
        });
        $("#user_pw").on("keyup",function(key){
            if(key.keyCode==13) {
                if(!$("#user_id").val()) {
                    $("#user_id").focus();
                } else if(!$("#user_pw").val()){
                    $("#user_pw").focus();
                } else {
                    loginCheck();
                }
            }
        });

    })
</script>

<body>
<h1>로그인</h1>
<form th:action="@{/login}" th:object="${loginForm}" method="post" id="loginForm">

    <p id="errorMsg" style="color:red;" th:text="${msg}"></p>
    <input type="hidden" name="path" th:value="${path}">

    <div>
        <label for="user_id">로그인 ID</label>
        <input type="text" id="user_id" name="user_id" th:field="*{user_id}" class="form-control"
               th:errorclass="field-error">
    </div>
    <div>
        <label for="user_pw">비밀번호</label>
        <input type="password" id="user_pw" name="user_pw" th:field="*{user_pw}" class="form-control"
               th:errorclass="field-error">
    </div>

    <hr class="my-4">
</form>
<div class="row">
    <input id="submit" type="submit" value="로그인" />
    <th:block th:if="${#strings.equals(path, '/login')}">
        <button id="signUp" type="button" th:onclick="|location.href='@{/signup}'|">회원가입</button>
    </th:block>
    <th:block th:if="${#strings.equals(path,'/admin/login')}">
        <button onclick="location.href='items.html'"
                th:onclick="|location.href='@{/admin}'|"
                type="button">취소</button>
    </th:block>
    <th:block th:unless="${#strings.equals(path,'/admin/login')}">
        <button onclick="location.href='items.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">취소</button>
    </th:block>
</div>
</body>
</html>